body {
  margin: 0;
  padding: 0;
  background: linear-gradient(0deg, #2980B9, #6DD5FA, #FFFFFF);
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
